* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-image: url('https://i.gifer.com/J59.gif');
  background-size: cover;
  background-position: center center; 
  background-attachment: fixed; 
  background-repeat: no-repeat; 
  min-height: 100vh; 
}


.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 8px; 
}

header {
  background-color: rgba(0, 0, 0, 0.6); 
  color: #fff;
  padding: 20px 0;
}

header h1 {
  text-align: center;
  font-size: 2.5rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #00bfff;
}

#presentation {
  padding: 40px 0;
  text-align: center;
}

#presentation h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

#presentation p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

#presentation h3 {
  font-size: 1.5rem;
  margin-top: 20px;
}

#presentation ul {
  list-style-type: none;
  margin-top: 10px;
}

#presentation ul li {
  font-size: 1.1rem;
  margin: 5px 0;
}


#projets {
  padding: 40px 0;
  text-align: center;
}

#projets h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.projet {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: inline-block;
  width: 45%; 
  margin: 10px;
}

.projet:hover {
  transform: scale(1.05);
}

.projet img {
  width: 100%; 
  height: auto;
  border-radius: 8px;
  max-width: 200px; 
  margin-bottom: 15px;
}

.projet h3 {
  margin: 10px 0;
  font-size: 1.5rem;
}

.projet p {
  font-size: 1rem;
  margin-bottom: 15px;
}

.projet a {
  text-decoration: none;
  color: #00bfff;
  font-weight: bold;
  font-size: 1.1rem;
}

.projet a:hover {
  color: #ff6347;
}

#contact {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px 0;
  text-align: center;
}

#contact h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

#contact p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

#contact a {
  color: #00bfff;
  font-weight: bold;
  text-decoration: none;
}

#contact a:hover {
  color: #ff6347;
}

@media screen and (max-width: 768px) {
  nav ul {
      flex-direction: column;
      align-items: center;
  }

  .container {
      width: 90%;
  }

  .projet {
      width: 100%; 
  }
}
